@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Koh+Santepheap:wght@300;400;700;900&display=swap');

:root {
	--overlay-color: #03a9f4;
}



*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Koh Santepheap', cursive;
}

.showcase{
	position: absolute;
	right: 0;
	width: 100%;
	min-height:100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #111;
	color: #fff;
	z-index: 2;
	transition: 0.5s;
}

.showcase.active{
	right: 300px;
}


.showcase header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between; 
	font-size: 25px;
}

.logo{
	text-transform: uppercase;
	cursor: pointer;
}


.toggle{
	position: relative;
	width: 60px;
	height: 60px;
	background: url(menuLine.png);
	background-repeat: no-repeat;

	background-size: 30px;
	background-position: center;
	cursor: pointer;

}

.toggle.active{
	background: url(close.jpg);
	background-repeat: no-repeat;

	background-size: 25px;
	background-position: center;
}


.showcase video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;

}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	mix-blend-mode: overlay;

}


.text{
	position: relative;
	z-index: 10;
}

.text h2{
	font-size: 4em;
	font-weight: 800;
	line-height: 1em;
	text-transform: uppercase;
}

.text h3{
	padding-top: 20px;
	font-size: 2em;
	font-weight: 600em;
	line-height: 1em;
	text-transform:uppercase;
}

.text p{
	
	font-style: italic;
	padding-top: 5px;
	font-size: 1.25em;
	font-weight: 550em;
	line-height: 1em;
	max-width: 700px;

}


.ZI{
	opacity: 1;
	display: inline-block;
	font-size: 1.25em;
	font-weight: bold;
	background: url(UE1.png);
	padding: 100px 30px;
	text-decoration: none;
	color: #fff;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.2s;
}

.ZI:hover{
	letter-spacing: 6px;
}

.SC{
	opacity: 1;
	display: inline-block;
	font-size: 1.25em;
	font-weight: bold;
	background: url(UE2.png);
	padding: 100px 30px;
	text-decoration: none;
	color: #fff;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.2s;
}
.SC:hover{
	letter-spacing: 6px;
}

.SCA{
	opacity: 1;
	display: inline-block;
	font-size: 1.25em;
	font-weight: bold;
	background: url(9.png);
	padding: 100px 30px;
	text-decoration: none;
	color: #fff;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.2s;
}
.SCA:hover{
	letter-spacing: 6px;
}

.MM{
	opacity: 1;
	display: inline-block;
	font-size: 1.25em;
	font-weight: bold;
	background: url(M1.png);
	padding: 100px 30px;
	text-decoration: none;
	color: #111;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.2s;
}
.MM:hover{
	letter-spacing: 6px;
}

.RM{
	opacity: 1;
	display: inline-block;
	font-size: 1.25em;
	font-weight: bold;
	background: url(CC.png);
	padding: 100px 30px;
	text-decoration: none;
	color: #fff;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.2s;
}
.RM:hover{
	letter-spacing: 6px;
}

.Tem{
	opacity: 1;
	display: inline-block;
	font-size: 1.25em;
	font-weight: bold;
	background: url(Temple.png);
	padding: 100px 60px;
	text-decoration: none;
	color: #fff;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.2s;
}
.Tem:hover{
	letter-spacing: 6px;
}


.social{
	position: absolute;
	bottom: 20px;
	z-index: 15;
	display: flex;
	justify-content: center;
	align-items: center;


}

.social li {
	list-style: none;
}

.social li a{
	display: inline-block;
	filter: invert(1);
	transform: scale(0.5);
	transition: 0.5s;
}

.social li a:hover{
	transform: scale(0.5) translateY(-15px);
}


.Menu{
position: absolute;
top: 0;

right: 0;
width: 300px;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.Menu ul{
	font-family: ;
	position: relative;
	list-style: none;
}

.Menu ul li a{
	text-decoration: none;
	font-size: 24px;
	color: #111;
}

.Menu ul li a:hover{
	color: #03a9f4;
}




@media(max-width: 798px){
	.showcase, .showcase header{
		padding: 40px;
	}

	.text h2{
		font-size: 1.75em;
	}

	.text h3{
		font-size: 0.9em;
	}

}



